## ASP.NET Core Hassas Dosyalar
IstanbulSenin.MVC/appsettings.json
IstanbulSenin.MVC/appsettings.Development.json

## Visual Studio Gereksizleri
.vs/
[Bb]in/
[Oo]bj/
*.user
*.sln.docstates

## Diğer
out/
publish/